.users {
    display: flex;
    flex-flow: wrap;
    margin: 0 30px;
    justify-content: center;
}

.user {
    border-radius: 50%;
    margin: 5px;
}

.tooltip {
    position: relative;
}

.tooltip:hover::before,
.tooltip:hover::after {
    visibility: visible;
    opacity: 1;
}

.tooltip::before {
    content: attr(data-tooltip);
    background: #272727;
    color: #fff;
    font-size: 12px;
    font-weight: bold;
    padding: 10px 15px;
    border-radius: 5px;
    white-space: nowrap;
    text-decoration: none;
    letter-spacing: 1px;

    position: absolute;
    z-index: 1;
    top: -5em;
    left: 50%;
    transform: translateX(-50%);

    visibility: hidden;
    opacity: 0;
    transition: opacity 0.3s;
}

.tooltip::after {
    content: "";
    position: absolute;
    top: -0.75em;
    left: 50%;
    margin-left: -0.375em;
    border-width: 0.375em;
    border-style: solid;
    border-color: black transparent transparent transparent;

    visibility: hidden;
    opacity: 0;
    transition: opacity 0.3s;
}

.contributors-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

hr.divider {
    border: none;
    width: 70%;
    margin-top: 40px;
    margin-bottom: 20px;
    border-top: 0.4px solid #d7d7d7;
}

.dark hr.divider {
    border-top: 0.4px solid #252525;
}

h2 {
    font-size: 24px;
    line-height: 32px;
    letter-spacing: -.02em;
    font-weight: 600;
}